<div id="quoteElement" class="container align-items-bottom ">
    <!-- <section class="row">
        <div class="col-12">
            <div class="card fade-card">
                <div class="card-body">
                    <h4 class="card-title">Titlesdfghjkjhfdfghjkjhgfghjk</h4>
                </div>
            </div>

        </div>
    </section> -->
</div>

<div id="toDoList" class="container align-items-bottom d-flex">
    <!-- <section class="row align-items-center">
        <div class="col-12 p-3 fade-card align-items-center">
            <p class="">
            <div class="form-check">
                <input name="completed"  class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label>
            </div>
            Get This FUcker Done
            <span class="text-danger mdi mdi-trash-can" role="button">
            </span>
            </p>
        </div>
    </section> -->
</div>

<div class="text-center fs-4">
    <form onsubmit="app.IToDoController.makeNewToDo()">
        <div class="mb-3 flex-shrink-1 fade-card">
            <label for="exampleInputEmail1" class="form-label p-2 justify-content-center">New Task</label>
            <input name="description" type="text" class="form-control" id="exampleInputEmail1" required
                aria-describedby="emailHelp">
            <button type="submit" class="btn btn-outline-light">Submit</button>
        </div>
    </form>
</div>